<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.localytics.android.sample.pushbroadcastreceiver"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.localytics.android.sample.pushbroadcastreceiver.permission.C2D_MESSAGE" />

    <permission
        android:name="com.localytics.android.sample.pushbroadcastreceiver.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="ampYOUR-LOCALYTICS-APP-KEY" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.localytics.android.sample.pushbroadcastreceiver" />
            </intent-filter>
        </receiver>

    </application>

</manifest>